@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'quicksand', sans-serif;
}
.container{
  max-width: 1288px;
  margin: 0 auto;
}
section{
  margin: 80px 0;
}

/* NAVIGATION MENU */
header{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.header-container{
  max-width: 1288px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo span{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}
header nav ul{
  width: 350px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
header nav ul li a{
  color: #222223;
  text-decoration: none;
  font-size: 18px;
}
header nav ul li a:hover{
  opacity: 0.8;
}
header .phonenumber a{
  color: #222223;
  text-decoration: none;
  font-size: 18px;
}
header .phonenumber a:hover{
  opacity: 0.8;
}

/* HEADING JUMBOTRON */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .left-hero h1{
  font-size: 5vh;
  letter-spacing: 0.5%;
}
.hero .left-hero p{
  font-size: 18px;
  letter-spacing: 0.5%;
  line-height: 26px;
  margin: 20px 0;
}
.hero .left-hero .button-black{
  color: #ffffff;
  background: #222223;
  padding: 14px 24px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}
.hero .left-hero .button-black:hover{
  opacity: 0.8;
}

/* PELAJARI BATIK INDONESIA */
.belajar-batik h2{
  letter-spacing: 0.5%;
  font-size: 32px;
}
.belajar-batik p{
  letter-spacing: 0.5%;
  font-size: 18px;
  margin: 10px 0 25px;
}
.belajar-batik .cards{
  display: flex;
  justify-content: space-between;
}
.belajar-batik .cards a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #222223;
}

/* CARD SECTION */
.card-section{
  height: 500px;
}
.card-section .card-long{
  background-image: url("./images/lestarikan.png");
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding: 0 40px;
  text-decoration: none;
}
.card-section .card-long h1{
  font-size: 48px;
  width: 50%;
}
.card-section .card-long p{
  font-size: 18px;
  width: 30%;
  margin: 12px 0 30px;
}
.button-white{
  color: #222223;
  background: #ffffff;
  width: 16%;
  padding: 14px 24px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

/* PRODUK BATIK INDONESIA */
.produk-batik h2{
  letter-spacing: 0.5%;
  font-size: 32px;
}
.produk-batik p{
  letter-spacing: 0.5%;
  font-size: 18px;
  margin: 10px 0 25px;
}
.produk-batik .cards{
  display: flex;
  justify-content: space-between;
}
.produk-batik .cards a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #222223;
}

/* CARD SECTION LONG DUA */
.card-section .card-long-dua{
  background-image: url("./images/telusur.png");
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding: 0 40px;
  text-decoration: none;
}
.card-section .card-long-dua h1{
  font-size: 48px;
  width: 50%;
}
.card-section .card-long-dua p{
  font-size: 18px;
  width: 30%;
  margin: 12px 0 30px;
}

/* FOOTER */
footer{
  padding: 50px 0;
  background-color: #f5f5f5;
  height: 100%;
}
.footer-container{
  max-width: 1288px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.footer-container .top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer-container .top .satu, .dua, .tiga, .empat{
  display: flex;
  flex-direction: column;
  line-height: 36px;
  letter-spacing: 0.5%;
  font-size: 16px;
}
.footer-container p{
  font-weight: 700;
  text-transform: uppercase;
}
.footer-container a{
  color: #000;
  text-decoration: none;
}
.footer-container a:hover{
  opacity: 0.8;
}
.footer-container .bottom{
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px 0;
}